* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(240, 240, 240);
}
.menu {
  text-align: right;
  margin-right: 40px;
}
.menu a {
  display: inline-block;
  background-color: rgb(78, 78, 78);
  color: rgb(241, 241, 241);
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px 5px;
}
.menu a:hover{
  color:rgb(241, 241, 241);  
  background-color:rgb(48, 47, 47);;
}

/* AJUSTES GERAIS */
.pd-t {
  padding: 10px 20px;
}
.pd-h {
  padding: 0 20px;
}
.pd-v {
  padding: 20px 0;
}
.mg-t {
  margin: 10px;
}
.mg-h {
  margin: 0 20px;
}
.mg-v {
  margin: 20px 0;
}
.txt-center {
  text-align: center;
}
.titulos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin: 40px;
}
