@charset "UTF-8";
body{
  background-color: #dddddd;
  color: rgba(0,0,0,1);
    margin: 0px;
    padding: 0px;
  }
  
p {
  text-align: justify;
  text-indent: 40px;
}

/* FORMATAÇÃO LISTA */

.menu ul {
  position: absolute;
  top: 10px;
  right: 100px;
  margin: 20px;
  /* border: 1px solid red; */
}
.menu li {
  list-style: none;
  display: inline-block;
}
.menu a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: gray;
  padding: 10px;
  margin: 2px;
  color: #fff;
}
.menu a:hover{
  background-color: #000;
  transition: background-color 1s;
  padding-bottom: 15px;
  transition: padding-bottom 0.3s;
}

/* FORMATAÇÃO FOTO */

figure.fotos{
  border: 8px solid #fff;
  box-shadow: 1px 1px 2px #000;
  max-width: 600px;
  max-height: 338px;
  position: relative;
  
}
figure.fotos img{
  width: 100%;
  height: 100%;
}
figure.fotos figcaption{
  position: absolute;
  top: 0px;
  color: #fff;
  background-color: rgba(0,0,0,.2);
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s;
}

figure.fotos:hover figcaption{
  cursor: pointer;
  opacity: 1;
}
<<<<<<< HEAD
header{
  position: relative;
  border-bottom: 1px solid #606060;
  height: 200px;
  background:url(../_imagens/glass-logo-peq.jpg) no-repeat 10px 120px
}
header h1{
  padding-left: 0px;
  margin: 0;
  padding: 20px 20px 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

header h2{
  margin: 0px 0px 10px 20px ;
  color: #dddddd;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.icone img{
  position: absolute;
  top: 70px;
  left: 980px;

}

#interface{
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}
.menu h1{
  display: none;
}

