@charset "UTF-8";
body{
  background-color: #fff;
  color: rgba(0,0,0,1);
    
  }
p {
  text-align: justify;
    text-indent: 40px;
}
/* FORMATAÇÃO LISTA */
.menu ul {
  position: absolute;
  top: 0px;
  left: 500px;
  margin: 10px;
  /* border: 1px solid red; */
}
.menu li {
  list-style: none;
  display: inline-block;
}
.menu a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: gray;
  padding: 10px;
  margin: 2px;
  color: #fff;
}

/* FORMATAÇÃO FOTO */
/* figure.fotos img{
  
  box-shadow: 1px 1px 2px #000;
} */

/* figure.fotos figcaption{
  position: absolute;
} */
figure.fotos{
  border: 8px solid #fff;
  box-shadow: 1px 1px 2px #000;
  max-width: 600px;
  position: relative;
  
}
figure.fotos img{
  width: 100%;
  height: 100%;
}
figure.fotos figcaption{
  position: absolute;
  top: 0px;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s;
}

figure.fotos:hover figcaption{
  cursor: pointer;
  opacity: 1;
}