.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
p {
  margin: 0;
}
.preco {
  background-color: rgb(199, 199, 199);
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 600;
}
.imagem {
  max-width: 100%;
  border-radius: 4px;
  grid-row: 1;
}
.botao {
  background-color: rgb(90, 45, 150);
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
}
